
.tagline {
  color: #fff;
  background: #E2007A;
}
.content__overlay {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 1%;
  height: 1%;
  background: rgba(0, 0, 0, 0.5);
}
.content__icon {
  font-family: "chatwork";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1
}
.floatWindow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    border: 1px solid #999;
    border-right: 0;
    border-bottom: 0;
    z-index: 3;
}

.floatWindow .floatWindowInner {
    position: absolute;
    top: 0;
    background-color: #f2f2f2;
    border-right: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    box-shadow: 0 1px 10px rgba(0,0,0,0.6);
    z-index: -1;
}

.lunchWindowContainer {
  /*position: center;*/
  margin-right: auto;
  margin-left : auto;
  top: 0;
  height: 600px;
  width: 400px;
  background: #FFFFFF;
  border: 1px solid #999;
  border-right: 0;
  border-bottom: 0;
  z-index: 3;
}
.linkIconStatus {
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=$ie-opacity);
    opacity: .8;
    color: black;
    cursor: pointer
}

.linkIconStatus:hover {
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=$ie-opacity);
    opacity: 1
}

.linkIconStatus span+span {
    margin-left: 3px
}

.contentHl {
    height: 40px;
    line-height: 40px;
    padding: 0 10px
}

.floatContentH1 {
    position: relative;
    background-color: #f2f2f2;
    border-bottom: 1px solid #b3b3b3;
    z-index: 2
}
.cancelBtn{
 float: right;
  cursor: pointer;
}

.memoViewIcon{
  margin: 5px;
  float: right;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}
.editArea{
  width:50%;
  float: right;
  background-color: red;
}

.btnWindow{
  width: 170px;
  max-width:400px;
  margin: 0 auto;
}
.imgWindow{
  width: 400px;
  height: 250px;
}

.detailWindow{
  width: 400px;
  height: 300px;
}
#gifImg{
  width: 400px;
  height: 240px;
  margin: 0 auto;
}

table.company {
    width: 400px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
    font-size: 12px;
}

table.company th,
table.company td {
    padding: 5px;
}

table.company th {
    background: #295890;
    vertical-align: middle;
    text-align: left;
    width: 75px;
    overflow: visible;
    position: relative;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

table.company th:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #295890;
    border-width: 10px;
    margin-top: -10px;
}
/* firefox */
@-moz-document url-prefix() {
    table.company th::after {
        float: right;
        padding: 0;
        left: 30px;
        top: 10px;
        content: " ";
        height: 0;
        width: 0;
        position: relative;
        pointer-events: none;
        border: 10px solid transparent;
        border-left: #295890 10px solid;
        margin-top: -10px;
    }
}

table.company td {
    background: #f8f8f8;
    width: 300px;
    padding-left: 20px;
}
.vertical-align input,
.vertical-align select{
	vertical-align:middle;
}
